@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap");

:root {
  --left-bg-color: rgba(66, 98, 134, 0.8);
  --right-bg-color: rgba(88, 39, 39, 0.8);
  --left-btn-hover-color: rgba(66, 98, 134);
  --right-btn-hover-color: rgb(167, 77, 77);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 100ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(214, 233, 255);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  position: absolute;
  color: white;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  color: white;
  border: white solid 0.2rem;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  width: 15rem;
  padding: 1.5rem;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.split.left {
  left: 0;
  background: url("DC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url("marvel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }
  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
}
